#keyboardContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mainContainer {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}